
div.content h2{
    color: red;
    text-align: center;
    font-family:'Segoe UI';
    font: size 90px;
}
p{
    line-height: 70px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
footer{
    background-color: grey;
    color: white;
    text-align: center;
    padding: 15px;
}